{% extends 'base.html'%}

{%block messasge%} <h1>Allowed in here</h1> {%endblock%}
{%with messages=get_flashed_messages()%}
  {%if messages%}
    {%for msg in messages%}
      <p>{msg}</p>
    {%endfor%}
  {%endif%}
{%endwith%}
{%block form%} 
<h2>Text input fields</h2>

<form action="#" method="post">
  <label for="fname">First name:</label><br>
  <input type="text" id="fname" name="fname" ><br>
  <label for="lname">Last name:</label><br>
  <input type="text" id="lname" name="lname" ><br>
  <input type="submit" value="Submit">
</form>
{%endblock%}